// RESPONSIVE BREAKPOINTS

$bp-1080p: 120rem; // 1920px
$bp-720p: 80rem; // 1280px
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 45rem; // 720px;
$bp-small: 37.5em; // 600px;
$bp-xsmall: 480px;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}

.container {
  width: $bp-large;
  max-width: $bp-720p;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: .5rem;
  background-color: darkgrey;
  align-self: center;
}

.list {
  background-color: darkcyan;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(min-content, 1fr));

  .customer-column-header {
    grid-column: 1 / 2;
  }

  .invoice-column-header {
    grid-column: 2 / 3;
  }

  .payments-column-header {
    grid-column: 3 / 4;
  }
}

.customer-column-header,
.invoice-column-header,
.payments-column-header {
  padding: .5rem;
  text-align: center;
}

/*.customer-column-header,
.invoice-column-header {
  border-right: 1px solid;
}*/

.customer-row {
  border-left: 1px solid;
  border-top: 1px solid;
  background-color: orangered;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr repeat(2, minmax(min-content, 1fr));

  .customer-column {
    grid-column: 1 / 2;
  }

  .invoice-column {
    grid-column: 2 / 3;
  }

  .payment-column {
    grid-column: 3 / 4;
  }
}

.customer-column {
  align-self: center;
  justify-self: right;
}

.customer-column > div {
  padding: 1rem;
}

.invoice-column {
  border-left: 1px solid;

  .invoice-row-header {
    background-color: darkcyan;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 1fr));
    justify-self: stretch;
  }

  .invoice-row-header > div {
    text-align: right;
    padding: .5rem;
    justify-self: stretch;
    align-self: stretch;
  }

  .invoice-row-header > div:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
  }

  .invoice-row {
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 1fr));
    justify-items: stretch;
    align-items: stretch;
  }

  .invoice-row > div {
    text-align: right;
    padding: .5rem;
    justify-self: stretch;
    align-self: stretch;
  }

  .invoice-row div:nth-child(2) {
    border-left: 1px solid;
    border-right: 1px solid;
  }

}

.payment-column {
  border-left: 1px solid;

  .payment-row-header {
    background-color: darkcyan;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    justify-self: stretch;
  }

  .payment-row-header > div {
    text-align: right;
    padding: .5rem;
    justify-self: stretch;
    align-self: stretch;
  }

  .payment-row-header > div:nth-child(1) {
    border-right: 1px solid;
  }

  .payment-row {
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    justify-items: stretch;
    align-items: stretch;
  }

  .payment-row > div {
    text-align: right;
    padding: .5rem;
    justify-self: stretch;
    align-self: stretch;
  }

  .payment-row > div:nth-child(1) {
    border-right: 1px solid;
  }
}

.pagination {
  padding: .5rem;
  background-color: darkgrey;
  align-self: center;
}

@media only screen and (min-width: $bp-1080p) {

  .container {
    max-width: $bp-720p;
    margin: 0;
  }
}

@media only screen and (max-width: $bp-720p) {

  .container {
    max-width: $bp-large;
    margin: 0 auto;
  }
}

@media only screen and (max-width: $bp-large) {

  .container {
    max-width: $bp-medium;
    margin: 0 auto;
  }
  .list {
    grid-template-columns: repeat(autofit, 100%);
  }

  .customer-column-header,
  .invoice-column-header,
  .payments-column-header {
    grid-column: 1 / -1;
  }

  .customer-row {
    grid-template-columns: repeat(autofit, 100%);
    justify-content: center;
  }

  .customer-row .customer-column,
  .customer-row .invoice-column,
  .customer-row .payments-column {
    grid-column: 1 / -1;
  }

  .customer-column {
    justify-self: center;
  }
}

@media only screen and (max-width: $bp-medium) {

  .container {
    width: 100%;
    margin: 0 auto;
  }
}

