<div class="container">
  <div class="header">
    <h1>Customers List</h1>
  </div>
  <div class="list">
    <div class="customer-column-header">{{ listHeader[0] }}</div>
    <div class="invoice-column-header">{{ listHeader[1] }}</div>
    <div class="payments-column-header">{{ listHeader[2] }}</div>
    <div class="customer-row" *ngFor="let customer of customers">
      <div class="customer-column">
        <div>
          {{ customer.name }}
        </div>
      </div>
      <ul class="invoice-column">
        <li class="invoice-row-header">
          <div>Description</div>
          <div>Quantity</div>
          <div>Price</div>
        </li>
        <li class="invoice-row" *ngFor="let invoice of customer.invoices">
          <div>{{ invoice.description }}</div>
          <div>{{ invoice.quantity }}</div>
          <div>{{ invoice.price }}</div>
        </li>
      </ul>
      <ul class="payment-column">
        <li class="payment-row-header">
          <div>Date</div>
          <div>Amount</div>
        </li>
        <li class="payment-row" *ngFor="let payment of customer.payments">
          <div>{{ payment.date }}</div>
          <div>{{ payment.amount }}</div>
        </li>
      </ul>
    </div>
  </div>
  <div class="pagination">
    <p>Pagination Placeholder</p>
  </div>
</div>

