// RESPONSIVE BREAKPOINTS
$bp-largest: 75em; // 1200px
$bp-large: 62.5em; // 1000px
$bp-medium: 50em; // 800px;
$bp-small: 37.5em; // 600px;
$bp-xsmall: 480px;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;
}

.container {
  width: 90%;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  padding: .5rem;
  background-color: darkgrey;
  align-self: center;
}

.list {
  background-color: darkcyan;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: .25rem;

  .customer-column-header {
    grid-column: 1 / 2;
  }
  .invoice-column-header {
    grid-column: 2 / 3;
  }
  .payments-column-header {
    grid-column: 3 / 4;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(autofit, 100%);

    .customer-column-header,
    .invoice-column-header,
    .payments-column-header {
      grid-column: 1 / -1;
    }
  }
}

.customer-column-header,
.invoice-column-header,
.payments-column-header {
  padding: .5rem;
  text-align: center;
}

.customer-row {
  padding: .5rem;
  background-color: orangered;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: .5rem;
  align-items: center;
  justify-content: center;
  justify-items: center;

  .customer-column {
    grid-column: 1 / 2;
  }

  .invoice-column {
    grid-column: 2 / 3;
  }

  .payment-column {
    grid-column: 3 / 4;
  }

  @media only screen and (max-width: $bp-small) {
    grid-template-columns: repeat(autofit, 100%);
    justify-content: center;

    .customer-column,
    .invoice-column,
    .payments-column {
      grid-column: 1 / -1;
    }
  }
}

.customer-column {
  justify-self: right;

  @media only screen and (max-width: $bp-small) {
    justify-self: center;
  }
}

.invoice-column {
  border: 1px solid;

  .invoice-row-header {
    background-color: darkcyan;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 1fr));
    justify-items: flex-end;

    span {
      padding: .5rem;
    }

    span:not(last-child) {
      border-right: 1px solid;
    }
  }

  .invoice-row {
    background-color: cyan;
    display: grid;
    grid-template-columns: repeat(3, minmax(6rem, 1fr));
    justify-items: flex-end;

    span {
      padding: .5rem;
    }

    span:not(last-child) {
      border-right: 1px solid;
    }
  }

  .invoice-row:not(last-child) {
    border-bottom: 1px solid;
  }
}

.payment-column {
  border: 1px solid;
  justify-content: center;
  justify-items: center;

  .payment-row-header {
    background-color: darkcyan;
    border-bottom: 1px solid;
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    justify-items: flex-end;

    span {
      padding: .5rem;
    }

    span:not(last-child) {
      border-right: 1px solid;
    }
  }

  .payment-row {
    background-color: cyan;
    display: grid;
    grid-template-columns: repeat(2, minmax(6rem, 1fr));
    justify-items: flex-end;

    span {
      padding: .5rem;
    }

    span:not(last-child) {
      border-right: 1px solid;
    }
  }

  .payment-row:not(last-child) {
    border-bottom: 1px solid;
  }
}

.pagination {
  padding: .5rem;
  background-color: darkgrey;
  align-self: center;
}
