<div class="container">
  <div class="header">
    <h1>Customers List</h1>
  </div>
  <div class="list">
    <div class="customer-column-header">Customer</div>
    <div class="invoice-column-header">Invoices</div>
    <div class="payments-column-header">Payments</div>
    <div class="customer-list-item" *ngFor="let customer of customers">
      <div class="customer-column">
        {{ customer.name }}
      </div>
      <ul class="invoice-column">
        <li class="invoice-row" *ngFor="let invoice of customer.invoices">
          <div>{{ invoice.name }}</div>
          <div>{{ invoice.quantity }}</div>
          <div>{{ invoice.price }}</div>
        </li>
      </ul>
      <ul class="payments-column">
        <li class="payment-row" *ngFor="let payment of customer.payments">
          <span>{{ payment.date }}</span>
          <span>{{ payment.amount }}</span>
        </li>
      </ul>
  </div>
  </div>
  <div class="pagination">
    <p>Pagination Placeholder</p>
  </div>
</div>

