  <div class="container">
    <div class="header">
      <h1>Customers List</h1>
    </div>
    <ul class="list">
      <li class="list-header">
        <div>Customer</div>
        <div>Invoices</div>
        <div>Payments</div>
      </li>
      <li class="customer-column" *ngFor="let customer of customers">
        <div class="customer-row">
          {{ customer.name }}
        </div>
        <ul class="invoice-column">
          <li class="invoice-row-header">
            <span>Description</span>
            <span>Quantity</span>
            <span>Price</span>
          </li>
          <li class="invoice-row" *ngFor="let invoice of customer.invoices">
            <span>{{ invoice.description}}</span>
            <span>{{ invoice.quantity}}</span>
            <span>{{ invoice.price}}</span>
          </li>
        </ul>
        <ul class="payment-column">
          <li class="payment-row-header">
            <span>Date</span><span>Amount</span>
          </li>
          <li class="payment-row" *ngFor="let payment of customer.payments">
            <span>{{ payment.date}}</span>
            <span>{{ payment.amount}}</span>
          </li>
        </ul>
      </li>
    </ul>
    <div class="pagination">
      <p>Pagination Placeholder</p>
    </div>
  </div>
