*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
ul {
  list-style-type: none;

  li {
    margin: 0;
  }
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: gray;
  display: flex;
  flex-direction: column;
  /*align-content: center;*/
  /*justify-content: center;*/
}

.header {
  padding: .5rem;
  background-color: yellow;
  align-self: center;
}

.list {
  padding: .5rem;
  background-color: lightgray;
  /*align-content: center;*/
  /*justify-content: center;*/
}

.list-header {
  padding: .5rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  /*justify-content: center;*/
  justify-items: center;
}

/*.customer-column,
.invoice-column,
.payment-column {
  padding: .5rem;
}*/

.customer-column {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(min-content, max-content));
  grid-template-columns: repeat(3, minmax(min-content, 1fr));
  grid-gap: .5rem;
  justify-content: center;
  align-items: center;
  .customer-row {
    background-color: orangered;
    text-align: right;
  }
}

.invoice-column {
  background-color: blanchedalmond;
  grid-column: 2 / 3;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  .invoice-row-header {
    display: flex;
    flex-flow: row wrap;

    span {
      text-align: right;
      flex: 1 0 33.333%;
    }
  }

  .invoice-row {
    display: flex;
    flex-flow: row wrap;

    span {
      background-color: cadetblue;
      text-align: right;
      flex: 1 0 33.333%;
    }
  }
}

.payment-column {
  background-color: green;
  grid-column: 3 / 4;
  display: flex;
  flex-flow: column wrap;

  .payment-row-header {
    display: flex;
    flex-flow: row wrap;

    span {
      background-color: blanchedalmond;
      text-align: right;
      flex: 1 0 50%;
    }
  }

  .payment-row {
    background-color: antiquewhite;
    display: flex;
    flex-flow: row wrap;
    align-self: stretch;

    span {
      background-color: aquamarine;
      text-align: right;
      flex: 1 0 50%;
    }
  }
}

.pagination {
  padding: 1rem;
  background-color: yellow;
  align-self: center;
}

.text-align-center {
  text-align: center;
}
